@model ASP_core_tut_1.Models.Order
@{
    ViewData["Title"] = "Заказ принят";
}

<h2>Заказ принят!</h2>
<p>
    @Model.User, спасибо за покупку @Model.Phone.Name!
    <br />
    @DateTime.Now.ToLongDateString()
</p>